@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,900);

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html
 {
    color: #222;
	height:100%
}

button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 900; 
    line-height: 1.4;
	 height:100%
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}



.text{ 
      text-align: center;
      color: white;
      font-family: helvetica;
      font.size:1em;
  }


::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*.intro{
	//background: url("../img/wall.jpg") center no-repeat;
	background-color:#17EDB2;
}*/

/*.intro .imgholder{
	width: 350px;
	margin: 0 auto;
}*/

/*.imgholder img{
	width: 100%;
	//height: auto;
}*/

.panel{
	width: 90%;
	padding: 3% 5% 3% 5% ;
	height: 90%;
	position:relative;
	background-color:#1C8EF0;
}
.intro{
	/*background-attachment: fixed;
	background-size: cover;
	display: block;*/
	/*background-color:#0E7DDC;*/
}

.chooseGoal{

	/*background-color:#1C8EF0;*/

}

.logFace{

	/*background-color:#3F9FF2;*/

}

.setStake{
	/*background-color:#64B1F4;*/

}

.chooseReferee{
	/*background-color:#8CC5F6;*/

}

.congrats{
	/*background-color:#DCEDFC;
	color:#0E7DDC;*/
	border-top:2px solid #17EDB2;
	z-index:-1;
}

#logo{
	width:15em;
	height:auto;
	float:right;
}
#logo img{
	width:100%;
	height:auto;
}
#logo span{
	float:right;
	font-size:0.8em;
	margin-top:-0.5em;
	margin-right:2em;
}

.header{
	font-size:4em;
	/*margin-left:auto;
	margin-right:auto;	*/
}
.contentWrapper {
   font-size: 1.75em;
   text-align:center;
   width:60%;
   margin-right: auto;
   margin-left: auto;
}
.contentWrapper p,.contentWrapper span,.contentWrapper input{
margin:0.75em;
}

.imageWrapper{
	width:250px;
	height:250px;
	float:left;
	margin:25px;
}

.imageWrapper img{
	width:100%;
	height:auto;
	border:2px solid #B6A8A8;
	border-radius:50%;
}

.imageWrapper span{
	width:250px;
	text-align: center;
}

.buttonWrapper{
	/*top:88.5%;*/
	left:50%;
	margin-left:-7.5em;
	position: absolute;
	bottom: 0px;
}



.nextButton{
	width:15em;
	height:3em;
	border-radius: 5em 5em 0em 0em;
	border:none;
	color: #636363;
	background-color:#3FB0F2;
	opacity:0.5;
}

/*.chooseGoal .selectWrapper{
 background: #fafafa url("img/star-full.png") no-repeat 90% 50%;	
}*/

select{
	border-radius:20px;
	padding:0.5em;
	-webkit-appearance: none;
	-moz-appearance:none;
	color:white;
	border:none;
	-webkit-border-radius:2em;
    -moz-border-radius:2em;
    border-radius:2em;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
/*	background: url('img/star-full.png') no-repeat 100% 4px #fff;*/
}
.chooseGoal select{
background-color:#28F360;
}
.setStake select{
background-color:#FB2A2E;
}
input[type="text"]{
 border: 0;
 padding: 0.5em;
 border-radius:2em;
}

#fb_login, #confirm_button{
	 border: 0;
 	padding: 0.5em;
 -webkit-border-radius:2em;
    -moz-border-radius:2em;
    border-radius:2em;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  background-color:#1B63EE;
  color:white;
}

#stake_desc, #ref_mail{
width:18em;
}

#congrats{
width:90%;
margin-right:auto;
margin-left:auto;
font-size:7em;
text-align:center;
margin-top:10%;
}

#footer{
background-color:#0E7DDC;
border-top:2px solid #17EDB2;
height:4.5em;
margin-top:-4.5em;
font-size:1em;	
padding: 1% 5% 1% 5%;
z-index:10;
/*width:110%;
margin-left:-5%;
bottom:0;
position:relative;*/
}
#footer #logo{
	float:left;
}
#footer p{
	float:right;
	font-size:0.5em;
	font-size:1.5em;
	top:50%;
}
a,
a:link,
a:visited,
a:hover,
a:active {
    color: white; /*color of your choosing*/
    text-decoration: none;
    font-weight: normal;
}


.imageBox{
	width: 950px;
	margin: 0 auto;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 480px) {
body{
	/*font-size: 5em;*/
}

.panel{
	min-height: 500px;
}

}

@media only screen and (min-width: 481px) {
body{
	/*font-size: 6em;*/
}

}

@media only screen and (min-width: 768px) {
body{
	/*font-size: 1em;*/
}

}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}